typing
pandas
python-dotenv
click
# logging
pymatgen<=2021.3.3
matminer<0.7
pathlib
tqdm
numpy
jarvis
aflow
matplotlib
plotly
sklearn
seaborn
datetime
imblearn
setuptools
virtualenvwrapper
virtualenv
wget
python-dotenv
kaleido
citrination-client
shap
tikzplotlib
mdf_forge