typing
pandas
python-dotenv
click
logging
pymatgen
matminer
pathlib
tqdm
numpy
jarvis
aflow
matplotlib
plotly
sklearn
seaborn
datetime
imblearn
setuptools
virtualenvwrapper
virtualenv
wget
python-dotenv
kaleido
